<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chris.portokalis.summonerprofiles_leagueoflegends" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name="chris.portokalis.summonerprofiles_leagueoflegends.SummonerLookup"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="chris.portokalis.summonerprofiles_leagueoflegends.SummonerProfile"
            android:label="@string/title_activity_summoner_profile"
            android:parentActivityName="chris.portokalis.summonerprofiles_leagueoflegends.SummonerLookup" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="chris.portokalis.summonerprofiles_leagueoflegends.SummonerLookup" />
        </activity>
    </application>

</manifest>
